* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

.navbar {
    background-color: #00A19D;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img {
    width: 90px;
    height: 80px;
}

.navbar h1 {
    font-size: 24px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: #f4f4f4;
    text-decoration: none;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 90px;
    height: 80px;
    margin-right: 10px;
}


.home {
    background: url('https://example.com/pet-care.jpg') no-repeat center center/cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(192, 39, 39);
    text-align: center;
}

.home h2 {
    font-size: 36px;
}

.home p {
    font-size: 18px;
}

.home img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
}


.btn {
    background-color: #ff6f61;
    color: white;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
}

.news {
    padding: 30px;
    background-color: #f4f4f4;
    text-align: center;
}

.news h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.news-cards {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.news img {
    padding: 10px;
    width: 330px;
    height: 220px;
}

.card {
    background-color: #88dfde;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 100%;
    height: auto; 
}

.card h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    color: #333;
}

.clinic {
    padding: 30px;
    background-color: #fff;
    text-align: center;
}

.clinic-card {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    margin-top: 30px;
}

.clinic h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.clinic img {
    padding: 10px;
    width: 330px;
    height: 220px;
}

footer {
    background-color: #333;
    color: #00A19D;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 10px 0;
}
